body {
    background-color: #F6F4EB;
    font-family: Arial, sans-serif;
  }
  
  h2 {
    color: #4682A9;
  }
  
  label {
    display: inline-block;
    width: 80px;
    text-align: right;
    margin-right: 10px;
    color: #4682A9;
  }
  
  input[type="email"],
  input[type="password"] {
    width: 200px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #4682A9;
  }
  
  input[type="submit"] {
    background-color: #4682A9;
    color: #FFFFFF;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #749BC2;
  }